body {
  background-color: gray;
}


#nav-section > nav > * {
  width:100px;
  height:100px;
  border:1px solid gray;
  display:inline;
  background-color: yellow;
  position: relative;
  left: 1050px;
  margin-left:10px;

}
#nav-section > nav {
  position:relative;
  background-color: white;
}

#mid-section, footer {
  position: relative;
  background-color: white;
  1margin-top: 10px;
  margin-bottom: 10px;
}

footer {
   background-color : #333;
   height: 30px;
   width: 1250px;
   color: white;
   text-align: center;
   vertical-align: middle;
   position: fixed;
   bottom: 10px;
}
